@using Anaglyphohol.Services
<div class="extension-content @(HideContent ? "fadeOutEl" : "fadeInEl")">
    <div class="extension-content-shared">
        <UIToggle ShowBusy="Loading" BusyProgress="LoadingProgress" Value="@HideContentI" ValueChanged=@Clicked Text="" Title="Toggle UI" Images="@ButtonIcons" />
    </div>
    <div class="extension-content-local @(HideContent ? "fadeOut" : "fadeIn")">
        @if (ContentType != null)
        {
            <DynamicComponent @ref=dynamicComponent Type="ContentType" Parameters="ContentParameters" />
        }
    </div>
</div>
